<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Trip</title>
    <link rel='stylesheet' href='/itinerarystyle.css'>
  </head>

  <body>
    <h1> Your Trip </h1>
    <h5>Have fun in Vancouver!</h5> <br> <br> <br>
    <div>
    <img src="https://images.unsplash.com/photo-1527201488222-1877fba009be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" style= "position: absolute;
    width: 100vw; left: 0">
    }  <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br>
    <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br>
    <br> <br><br> <br> <br><br>
    </div>

    <div>
      <h2> Sunday, January 27, 2019 </h2>
    </div>

    <div class="experience" style="position:relative;">
      <div></div>
      <div>
          <h3>Brunch at Ruby's Cafe </h3>
          <span style="float: right">
          9am–10am
            </span>
            <div style="position:absolute; margin-top:4em">
            8 Saint Marks Place, Vancouver, B.C. V6T 1Z3
            </div>
      </div>
    </div>
    <div class="experience" style="position:relative;">
      <div></div>
      <div>
          <h3>Snowboarding at Grouse Mt.</h3>
          <span style="float: right">
          11am–6pm
            </span>
            <div style="position:absolute; margin-top:4em">
            North Vancouver, BC YEET113
            </div>
      </div>
    </div>
    <div class="experience" style="position:relative;">
      <div></div>
      <div>
          <h3>Dinner at Kokoro Tokyo Mazesoba</h3>
          <span style="float: right">
          6pm–7pm
            </span>
            <div style="position:absolute; margin-top:4em">
            551 Seymour Street, Vancouver, BC V6B 3H6
            </div>
      </div>
    </div>
  <script>
    document.getElementsByClassName('experience')[1].style.backgroundImage = 'url("https://images.unsplash.com/photo-1539470024775-4484ee6c64f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80")';
    document.getElementsByClassName('experience')[2].style.backgroundImage = 'url("https://images.unsplash.com/photo-1519984388953-d2406bc725e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80")';
  </script>

  <p>Add this itinerary to your calendar app?</p>
  <button id="ready" type="export" >Export!</button>
  </body>
</html>
