<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripPlanner</title>
    <link rel='stylesheet' href='/itinerarystyle.css'>
  </head>

  <body>
    <h1> Your Trip </h1>
    <h5>Have fun in Vancouver!</h5> <br> <br> <br>
    <div>
    <img src="https://images.unsplash.com/photo-1527201488222-1877fba009be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" style= "position: absolute;
    width: 100vw; left: 0">
    }  <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br>
    <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br>
    <br> <br><br> <br> <br><br>
    </div>

    <div>
      <h2> Sunday, January 27, 2019 </h2>
    </div>

    <div class="experience" style="position:relative;background-image:url('{{ content.food[0].lunch.image_url }}')">
      <div></div>
      <div>
          <h3>{{ content.food[0].lunch.description }}</h3>
          <span style="float: right">
          {{ content.food[0].lunch.time_duration }}
            </span>
            <div style="position:absolute; margin-top:4em">
            {{ content.food[0].lunch.address }}
            </div>
      </div>
    </div>
    {% for yeet, yought in content.activity[0].items() %}
    <div class="experience" style="position:relative;background-image:url('{{ yought.image_url }}')">
      <div></div>
      <div>
          <h3>{{ yought.description }}</h3>
          <span style="float: right">
          {{ yought.time_duration }}
            </span>
            <div style="position:absolute; margin-top:4em">
            {{ yought.address }}
            </div>
      </div>
    </div>
    {% endfor %}
    <div class="experience" style="position:relative;background-image:url('{{ content.food[0].dinner.image_url }}')">
      <div></div>
      <div>
          <h3>{{ content.food[0].dinner.description }}</h3>
          <span style="float: right">
          {{ content.food[0].dinner.time_duration }}
            </span>
            <div style="position:absolute; margin-top:4em">
            {{ content.food[0].dinner.address }}
            </div>
      </div>
    </div>


  <p>Add this itinerary to your calendar app?</p>
  <button id="ready" type="export" >Export!</button>
  </body>
</html>
