<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survey</title>
        <link rel='stylesheet' href='style.css'>
    </head>
    <body>
        <h1>Let's Plan Your Trip</h1>
        <h5>First, we'll need to ask you a few questions</h5> <br> <br> <br>

        <form id="preferences" name="preferences">
            <div>
                <p>Where are you going?</p>
                <input class="text-line" type="text" name="location" value="Vancouver">
            </div>
            <div>
                <p>When do you want to go?</p>
                <input class="text-line" type="date" name="time" value="">
            </div>
            <div>
                <p>Are you new to the area?</p>
                <input type="radio" name="yn" value="yes"> yes <br>
                <input type="radio" name="yn" value="no"> no <br>
            </div>
            <div>
                <p>What does your budget look like for food?</p>
                <input type="range" list="budget" min="0" max="3" value="0">
                <datalist id="budget">
                  <option label="$"> Under $10 </option>
                  <option label="$$"> $11-$30 </option>
                  <option label="$$$"> $31-$60 </option>
                  <option label="$$$$"> above $61 </option>
                </datalist>

                <ul class="range-labels">
                  <li class="active selected">$</li>
                  <li>$$</li>
                  <li>$$$</li>
                  <li>$$$$</li>
                </ul>
            </div>
            <div>
                <p>What does your budget look like for other activities?</p>
                <input type="range" list="budget" min="0" max="3" value="0">
                <datalist id="budget">
                  <option label="$"> Under $10 </option>
                  <option label="$$"> $11-$30 </option>
                  <option label="$$$"> $31-$60 </option>
                  <option label="$$$$"> above $61 </option>
                </datalist>

                <ul class="range-labels">
                  <li class="active selected">$</li>
                  <li>$$</li>
                  <li>$$$</li>
                  <li>$$$$</li>
                </ul>
                
            </div>
            <div>
                <p>What are you interested in?</p>
                <input type="checkbox" name="activity" value="Nightlife"> Nightlife w icon
                <input type="checkbox" name="activity" value="Relax and Pamper"> Relax and Pamper w icon
                <input type="checkbox" name="activity" value="Food Experiences"> Food Experiences w icon
                <input type="checkbox" name="activity" value="Music"> Music w icon
                <input type="checkbox" name="activity" value="Family-Friendly"> Family-Friendly w icon
                <input type="checkbox" name="activity" value="Arts and Culture"> Arts and Culture w icon
                <input type="checkbox" name="activity" value="Outdoors"> Outdoors w icon

            </div>

            <div>
                <p>When do you want to head out?</p>
                <input class="text-line" type="time" name="usr_time" value="">
            </div>
            <div>
                <p>When do you want to go back?</p>
                <input class="text-line" type="time" name="usr_time" value="">
            </div>
            <div>
                <p>How would you like to get around?</p>
                <input type="radio" name="transportation" value="car" checked> by car<br>
                <input type="radio" name="transportation" value="bus"
                checked> on public transport <br>
                <input type="radio" name="transportation" value="bike" checked> on wheels Male<br>
                <input type="radio" name="transportation" value="boot" checked> on foot <br>
            </div>

            <p>Ready for your next adventure?</p>
            <button type="button" onclick"">I'm ready</button>
        </form>
    </body>
</html>
