<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survey</title>
        <link rel='stylesheet' href='style.css'>
    </head>
    <body>
        <h1>Let's Plan Your Trip</h1>
        <h5>First, we'll need to ask you a few questions</h5> <br> <br> <br>

        <form id="preferences" name="preferences" role="form" method='POST' action='/'>
            <div>
                <p>Where are you going?</p>
                <input id="location" class="text-line" type="text" name="location" value="">
            </div>
            <div>
                <p>What date you want to go?</p>
                <input id="departureDay" class="text-line" type="date" name="departureDay" value="">
            </div>
            <div>
                <p>What time you want to head out?</p>
                <input id="departureTime" class="text-line" type="time" name="departureTime" value="">
            </div>
            <div>
                <p>What time you want to go back?</p>
                <input id="homeTime" class="text-line" type="time" name="homeTime" value="">
            </div>
            <div id="new" onclick="newToTheAreaToggle">
                <p>Are you new to the area?</p>
                <button id="newToTheAreaYes" type="button" onclick="newToTheAreaToggle(this)">Yes</button>
                <button id="newToTheAreaNo" type="button" onclick="newToTheAreaToggle(this)">No</button>
            </div>
            <div>
                <p>What does your budget look like for food?</p>
                <input class="budget" type="range" name="food-budget" min="1" max="4">
            </div>
            <div>
                <p>What kind of cuisine would you like?</p>
                <input name="cuisine" class="text-line" type="text" value="">
            </div>
            <div>
                <p>What does your budget look like for other activities?</p>
                <input id="activity-budget" name="activityBudget" class="budget" type="range" min="1" max="4"/>
            </div>
            <div id="interests">
                <p>What are you interested in?</p>
                <button id="intoBeer" name="intoBeer" type="button" onclick="change('intoBeer', 'intoBeerHidden')">
                    <img src="./beer.svg">
                    <div>Nightlife</div>
                </button>
                <input id="intoBeerHidden" name="intoBeer" type="hidden" value="False" />

                <button id="intoRNR" name="intoRNR" type="button" onclick="change('intoRNR', 'intoRNRHidden')">
                    <img src="./herbs.svg">
                    <div>Relax and Pamper</div>
                </button>
                 <input id="intoRNRHidden" name="intoRNR" type="hidden" value="False" />
                <button id="intoCooking" name="intoCooking" type="button" onclick="change('intoCooking', 'intoCookingHidden')">
                    <img src="./cooking.svg">
                    <div>Food Experiences</div>
                </button>
                 <input id="intoCookingHidden" name="intoCooking" type="hidden" value="False" />
                <button id="intoMusic" name="intoMusic" type="button" onclick="change('intoMusic', 'intoMusicHidden')">
                    <img src="./music.svg">
                    <div>Music</div>
                </button>
                 <input id="intoMusicHidden" name="intoMusic" type="hidden" value="False" />
                <button id="intoFamFriendly" name="intoFamFriendly" type="button" onclick="change('intoFamFriendly', 'intoFamFriendlyHidden')">
                    <img src="./family.svg">
                    <div>Family-Friendly</div>
                </button>
                 <input id="intoFamFriendlyHidden" name="intoFamFriendly" type="hidden" value="False" />
                <button id="intoCulture" name="intoCulture" type="button" onclick="change('intoCulture', 'intoCultureHidden')">
                    <img src="./culture.svg">
                    <div>Arts and Culture</div>
                </button>
                 <input id="intoCultureHidden" name="intoCulture" type="hidden" value="False" />
                <button id="intoOutdoors" name="intoOutdoors" type="button" onclick="change('intoOutdoors', 'intoOutdoorsHidden')">
                    <img src="./outdoors.svg">
                    <div>Outdoors</div>
                </button>
                 <input id="intoOutdoorsHidden" name="intoOutdoors" type="hidden" value="False" />
                <!-- <input type="checkbox" name="activity" value="Nightlife"> Nightlife w icon
                <input type="checkbox" name="activity" value="Relax and Pamper"> Relax and Pamper w icon
                <input type="checkbox" name="activity" value="Food Experiences"> Food Experiences w icon
                <input type="checkbox" name="activity" value="Music"> Music w icon
                <input type="checkbox" name="activity" value="Family-Friendly"> Family-Friendly w icon
                <input type="checkbox" name="activity" value="Arts and Culture"> Arts and Culture w icon
                <input type="checkbox" name="activity" value="Outdoors"> Outdoors w icon -->

            </div>
            <div id="howtotravel" name="howtotravel">
                <p>How do you like to travel?</p>
                <!-- <input class="text-line" type="time" name="usr_time" valubuttone=""> -->
                <button type="button" onclick="howToTravelYeetToggle(this)">I like to pack as many things as possible into my trip.</button><br>
                <button type="button" onclick="howToTravelYeetToggle(this)">I like to take it easy. I like to take my time going from place to place.</button><br>
                <button type="button" onclick="howToTravelYeetToggle(this)">I like something in between.</button><br>
            </div>
            <div id="getaround" name="getaround">
                <p>How would you like to get around?</p>
                <button id="by_car" type="button" onclick="change('by_car', 'by_carHidden')">
                    <img src="./car.svg">
                    <div>Car</div>
                </button>
                <input id="by_carHidden" name="by_car" type="hidden" value="False" />

                <button id="by_bus" type="button" onclick="change('by_bus', 'by_busHidden')">
                    <img src="./bus.svg">
                    <div>Public Transportation</div>
                </button>
                <input id="by_busHidden" name="by_bus" type="hidden" value="False" />

                <button id="by_bike" type="button" onclick="change('by_bike', 'by_bikeHidden')">
                    <img src="./bike.svg">
                    <div>Bike</div>
                </button>
                <input id="by_bikeHidden" name="by_bike" type="hidden" value="False" />

                <button id="by_foot" type="button" onclick="change('by_foot', 'by_footHidden')">
                    <img src="./foot.svg">
                    <div>On Foot</div>
                </button>
                <input id="by_footHidden" name="by_foot" type="hidden" value="False" />
            </div>

            <p>Ready for your next adventure?</p>
            <button id="ready" type="submit">I'm ready!</button>
        </form>
    {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </body>


</html>
<script type="application/javascript">

function change(element_button, element_id) {
  var change = document.getElementById(element_id);
  var button = document.getElementById(element_button);
  button.classList.toggle("selected");
  if (change.value == "False") {
    document.preferences.elements[element_id].value = "True";
    //document.test.submit();
  } else {
    change.value = "False";
  }
  console.log(change);
}

function newToTheAreaToggle(e) {
    Array.from(document.getElementById('new').children).slice(1).forEach(
        button => {
            button.classList.remove('selected');
            button.value = "";
        }
    );
    e.classList.add('selected');
    e.value = "True";
}

function howToTravelYeetToggle(e) {
    Array.from(document.getElementById('howtotravel').children).slice(1).forEach(
        button => {
            button.classList.remove('selected');
            button.value = "";
        }
    );
    e.classList.add('selected');
    e.value = "True";
}

</script>
